@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}

:root {
  --sidebar-width: 280px;
  --topContainer-height: 60px;
}

@layer base {
  h1 {
    @apply text-[21px] leading-[22px] font-semibold text-textPrimary;
  }

  h2 {
    @apply text-[19px] leading-[21px] font-semibold text-textPrimary;
  }
}

@media (max-width: 1279px) {
  :root {
    --sidebar-width: 70px;
  }
}
